@{
    ViewData["Title"] = "Home Page";
}

<script asp-append-version="true" src="~/js/HomeIndex.js"></script>

<div class="d-flex">
    <div class="col-6 p-0">
        <div id="map" class="h-100vh"></div>
    </div>
    <div class="col-6 p-0">
        <div id="map2" class="h-100vh"></div>
    </div>
</div>
